<h3>How the process works?</h3>
<ul>
  <li>We learn high-level details about your project and stack (programming languages, framework/CMS, OS)</li>
  <li>Then we figure out your goal and scope: compliance, quarterly audit, pre-launch pentest, design review etc</li>
  <li>Meanwhile you can prepare and sign contract, NDA and other documents if you need them</li>
  <li>We thorougly inspect your codebase for issues and instantly contact you if there's anything severe.</li>
</ul>

<h3>What is the result and deliverabilities?</h3>
<p>Every audit ends with a security report (PDF, DOC or markdown) that explains every issue and vulnerability found, including remediation steps and design recommendations. To get an idea how a pentest report looks like check out <a href="/peatio.pdf">8 hours long Peatio Bitcoin exchange audit</a></p>


<h3>Do I need to share source code?</h3>
<p>Rule of a thumb is that whitebox source code review is always better. It gives much more insight into your design and internal infrastructure. However, if you cannot share sources, blackbox pentest is an option too.</p>

<h3>Contact</h3>
<p><a href="mailto:homakov@gmail.com">homakov@gmail.com</a></p>
