
<div>
    <div class="welcome-pattern">
        <div class="row">
            <div class="small-6 small-centered columns small-text-center">
                <img width="400px" src="/images/sakurity_square.png">
            </div>
        </div>
        <div class="row">
           
        </div>

    </div>
</div>

<br><br>
<br>


<div class="content">

    <section>


        <div class="row">


            <div class="small-12 medium-6 large-6 columns">
                <div class="client-say">
                    <p class="small-text">At Mixpanel, we obsess about security and we found the Sakurity team phenomenal to work with for a contracted penetration test of Mixpanel. Sakurity identified holes that our previous security audit had missed and their turnaround time was great. We plan to continue to partner with Sakurity for the foreseeable future.</p>
                </div>
                <div class="row client-people">
                    <div class="small-4 columns">
                        <img src="/images/client-people-mixpanel.png">
                    </div>
                    <div class="small-8 columns">
                        <div class="client-people-name">Joe Xavier</div>
                        <div class="client-people-company">VP of Engineering, Mixpanel</div>
                    </div>
                </div>
            </div>




            <div class="small-12 medium-6 large-6 columns">
                <div class="client-say">
                    <p class="small-text">As a payments company, security is core to
                        everything Stripe does. I've worked with Sakurity both through their responsible disclosures as
                        well as a contracted penetration test of Stripe. Sakurity has always been professional and
                        responsible in their work, and Stripe today is more secure due to their efforts.</p>
                </div>
                <div class="row client-people">
                    <div class="small-4 columns">
                        <img src="/images/client-people-stripe.png">
                    </div>
                    <div class="small-8 columns">
                        <div class="client-people-name">Greg Brockman</div>
                        <div class="client-people-company">CTO, Stripe</div>
                    </div>
                </div>
            </div>


            <div class="small-12 medium-6 large-6 columns">
                <div class="client-say">
                    <p class="small-text">We approached Sakurity to audit our existing platform, and perform ongoing reviews of upcoming products. Sakurity have a proven and well-regarded understanding of web application security, and were able to identify and help us fix several key vulnerabilities, making our platform significantly more secure.</p>
                </div>
                <div class="row client-people">
                    <div class="small-4 columns">
                        <img src="/images/client-people-coinbase.png">
                    </div>
                    <div class="small-8 columns">
                        <div class="client-people-name">Adrian Macneil</div>
                        <div class="client-people-company">Director of Engineering, Coinbase</div>
                    </div>
                </div>
            </div>


            <div class="small-12 medium-6 large-6 columns">
                <div class="client-say">
                    <p class="small-text">The Sakurity team was a pleasure to work with, both during the process of an issue they reported to us and for an assessment they performed on contract. Their efforts have helped us further harden the security of our two-factor authentication platform.</p>
                </div>
                <div class="row client-people">
                    <div class="small-4 columns">
                        <img src="/images/client-people-duo.png">
                    </div>
                    <div class="small-8 columns">
                        <div class="client-people-name">Jon Oberheide</div>
                        <div class="client-people-company">CTO, Duo Security</div>
                    </div>
                </div>
            </div>


            <div class="small-12 medium-6 large-6 columns">
                <div class="client-say">
                    <p class="small-text">We’ve been working closely with Sakurity to
                        identify key weaknesses within our app. Sakurity is industry leader in identifying
                        oauth weaknesses. They've helped us to identify and resolve potential security holes such as
                        xss, account hijacking, and access token leaking.</p>
                </div>
                <div class="row client-people">
                    <div class="small-4 columns">
                        <img src="/images/client-people-buffer.png">
                    </div>
                    <div class="small-8 columns">
                        <div class="client-people-name">Sunil Sadasivan</div>
                        <div class="client-people-company">CTO, Buffer</div>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-6 columns">
                <div class="client-say">
                    <p class="small-text">As a service that provides authentication, authorization and single sign-on
                        infrastructure, security for Auth0 is a top priority. Sakurity has consistently demonstrated deep
                        expertise in evaluatiing identity protocols, and security in general. The Sakurity team helped us with a full audit of
                        our
                        platform and we consider the company part of our extended team.</p>
                </div>
                <div class="row client-people">
                    <div class="small-4 columns">
                        <img src="/images/client-people-auth0.png">
                    </div>
                    <div class="small-8 columns">
                        <div class="client-people-name">Matias Woloski</div>
                        <div class="client-people-company">CTO, Auth0</div>
                    </div>
                </div>
            </div>
        </div>


    </section>





    <section class="inverse">
        <div class="row">
            <div class="small-12 small-text-center columns">
                <h2>Trusted by</h2>
            </div>
        </div>
        <div class="row">

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://www.coinbase.com/">
                <div class="client client-coinbase"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://stripe.com/">
                    <div class="client client-stripe"></div>
                </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://www.skrill.com/en/">
                <div class="client client-skrill"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
                <a href="https://auth0.com">
                    <div class="client client-auth0"></div>
                </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://teespring.com/">
                <div class="client client-teespring"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://www.weebly.com/">
                <div class="client client-weebly"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://www.uber.com/">
                <div class="client client-uber"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://lyft.com">
                <div class="client client-lyft"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://wordpress.com/">
                <div class="client client-wordpress"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://www.duosecurity.com/">
                <div class="client client-duo"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://ifttt.com/">
                <div class="client client-ifttt"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://tokbox.com/">
                <div class="client client-tokbox"></div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://www.airbnb.com/">
                <div class="client client-airbnb"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://mixpanel.com/">
                <div class="client client-mixpanel"></div>
              </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
                  <a href="https://bufferapp.com/">
                <div class="client client-buffer"></div>
                </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://podio.com/">
                <div class="client client-podio"></div>
            </a>
            </div>

            <div class="small-6 medium-4 large-2 small-text-center columns clients">
            <a href="https://www.virool.com/">
                <div class="client client-virool"></div>
                </a>
            </div>


            <div class="small-6 medium-4 large-2 small-text-center columns clients">
              <a href="https://www.telerik.com/">
                <div class="client client-telerik"></div>
              </a>
            </div>

        </div>
    </section>



    <section>
        <div class="row">
            <div class="small-12 small-text-center columns">
                <h2>Priorities</h2>
            </div>
        </div>

        <div class="row">
            <div class="large-3 medium-6 small-12 columns small-text-center medium-text-center">
                <div class="service-icon service-icon-billing"></div>
                <h4>Billing Security</h4>

                <p class="medium-text">Payment Gateways and their providers, online banking and wallets
                    as well as critical APIs.</p>
            </div>
            <div class="large-3 medium-6 small-12 columns small-text-center medium-text-center">
                <div class="service-icon service-icon-ruby"></div>
                <h4>Startup Security</h4>

                <p class="medium-text">Cutting edge application stacks, such as Ruby on Rails, Node.js, Scala
                    etc.</p>
            </div>
            <div class="large-3 medium-6 small-12 columns small-text-center medium-text-center">
                <div class="service-icon service-icon-auth"></div>
                <h4>Authentication</h4>

                <p class="medium-text">Identity providers, <a href="/oauth">OAuth/OpenID and
                    Single
                    sign-on security</a>.</p>
            </div>
            <div class="large-3 medium-6 small-12 columns small-text-center medium-text-center">
                <div class="service-icon service-icon-bitcoin"></div>
                <h4>Bitcoin Security</h4>

                <p class="medium-text">All things related to crypto-currencies. Hey, we accept Bitcoins too!</p>
            </div>
        </div>
    </section>



<section class="inverse contact-us">
    <div class="section-pattern">
        <div class="row">
            <div class="small-10 small-centered small-text-center columns">
                <h2>We find bugs others can't.</h2>

                <p>Reach out to us if you want to see how our security audits can
                    help your business,<br> or if you have any questions.</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns small-text-center">
                <a href="/contact" class="button large pull success">Contact</a>
            </div>
        </div>
    </div>
</section>



</div>
