<!doctype html>
<html class="no-js" xmlns="https://www.w3.org/1999/xhtml"
      xmlns:fb="https://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <title>Sakurity</title>
    <meta name="description" content="We do penetration testing, source code auditing and vulnerability assessments">
    <meta name="keywords"
          content="Billing Security, Ruby on Rails Security, OAuth Security, Bitcoin Security, Framework Vulnerabilities">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>


    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>

    <link rel="stylesheet" href="/styles/vendor.css"/>

    <link rel="stylesheet" href="/styles/main.css"/>

    <meta content="origin-when-cross-origin" name="referrer" />
        
    <meta property="og:image" content="https://www.sakurity.com/images/sakurity-logo@2x.png" />

</head>
<body>

<nav class="top-bar row" data-topbar>
    <section class="top-bar-section">

        <ul class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/contact">Contact Us</a></li>

        </ul>

    </section>
</nav>
<% if @unwrapped %><%=yield%><% else %>
<div class="content" id="content">
  <section>
    <div class="row">
      <article>
      <%=yield%>
      </article>
    </div>
  </section>
</div>
<% end %>

<footer>
    <div class="row">
        <div class="small-6 medium-3 large-2 columns">
            <h4>Sakurity</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/contact">Contact Us</a></li>

           
            </ul>
        </div>

        <div class="small-12 medium-6 large-8 small-text-center medium-text-right columns">
            <div class="logo-monochrome"></div>
            <p class="copyright">Sakurity Ltd, a Hong Kong company established in 2012.<br>
        </div>
    </div>
</footer>


<script type="text/javascript">
var aa=document.getElementsByTagName('a');
for(var i=0;i<aa.length;i++){
  if(aa[i].href == location.href){ 
    aa[i].parentNode.classList.add('active')
  } 
}

</script>






</body>
</html>
