<!doctype html>
<html class="no-js" xmlns="https://www.w3.org/1999/xhtml"
      xmlns:fb="https://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.css"/>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  window.onmessage = function(e){
    //if (e.origin == 'https://airbnb.com')
    window.json = JSON.parse(e.data)


    window.app.sortAndFilter()
  }

  window.onload = function(){
    opener.postMessage('ready', '*')

    window.app = new Vue({
      el: '#app',
      data: {
        min_reviews: 15,
        min_rating: 4.8,

        sort_by: 'price',
        price_type: 'per_night',

        require_sqm: false,

        sorted: Object.freeze([])
      }, 
      methods:  {
        toPrice: function(l){
          if (window.app.price_type == 'total'){
            return l.pricing_quote.price.total.amount_formatted
          } else {
            let t = l.pricing_quote.price.price_items[0].localized_title
            let days = Number(t.split(' x ')[1].split(' ')[0])
            return ((l.pricing_quote.price.total.amount / days)).toFixed(0)
          }
        },
        bookLink: function(l){
          // nesting href params from search page
          return 'https://www.airbnb.com/rooms/'+l.id+'?'+window.json.href;
        },
        sortAndFilter: function() {

          var sorted = window.json.listings.sort(function(a, b){
            if (window.app.sort_by == 'price') {
              return a.pricing_quote.price.total.amount-b.pricing_quote.price.total.amount

            } else if (window.app.sort_by == 'price_rev') {
              return b.pricing_quote.price.total.amount-a.pricing_quote.price.total.amount
            } else if (window.app.sort_by == 'reviews_count') {
              return b.reviews_count - a.reviews_count

            } else if (window.app.sort_by == 'avg_rating') {
              return (b.avg_rating ? b.avg_rating : 0) - (a.avg_rating ? a.avg_rating : 0)
            } else if (window.app.sort_by == 'by_sqm') {
              let reg = /([0-9]+)[ ]?sqm/igm
              let sqm_a = reg.exec(a.name)
              sqm_a = sqm_a ? Number(sqm_a[1]) : 0
              let sqm_b = reg.exec(b.name)
              sqm_b = sqm_b ? Number(sqm_b[1]) : 0
              console.log("Compare ", sqm_b, sqm_a)
              return sqm_b - sqm_a
            }
          })

          let min_reviews = Number(window.app.min_reviews)
          let min_rating = Number(window.app.min_rating)

          var sorted = sorted.filter(function(l){
            // new flats assume 0 rating
            let rating = l.avg_rating ? l.avg_rating : 0

            if (l.reviews_count >= min_reviews &&
              rating >= min_rating){

              if (window.app.require_sqm && !l.name.match(/sqm/igm)) {
                return false
              } 

              return true 
            } else {
              //console.log('fail', l)
              return false
            }
          })

          console.log(sorted)

          this.sorted = sorted
        }
      }
    })


  }
</script>
  </head>
<body>
  <div class="container" id=app>
    <input @change="sortAndFilter()" style="width:50px" v-model="min_reviews"> min reviews
    <input @change="sortAndFilter()" style="width:50px" v-model="min_rating"> min rating / found <b>{{sorted.length}}</b>

    <select v-model="price_type" @change="sortAndFilter()">
      <option value="per_night">Price per night</option>
      <option value="total">Total price</option>
    </select>

    <select v-model="sort_by" @change="sortAndFilter()">
      <option value="price">Price (low to high)</option>
      <option value="price_rev">Price (high to low)</option>
      <option value="reviews_count">Reviews count</option>
      <option value="avg_rating">Avg rating</option>
      <option value="sqm">By sqm in the name</option>
    </select>
    <input @change="sortAndFilter()" type="checkbox" v-model="require_sqm"> Require "sqm"

    <div v-if="sorted.length > 100">
      <h1>Showing only first 100 listings.</h1>
    </div>
    <div class="alert alert-info" v-for="l in sorted.slice(0,100)">
      
      <h3><a :href="bookLink(l)">
       {{toPrice(l)}} - {{l.avg_rating}}({{l.reviews_count}}) - {{l.name}}
      </a></h3>

      <div>
        <img v-for="pic in l.picture_urls.slice(0,10)" :src="pic" height="100px"> 
      </div>

    </div>
  </div>




</body></html>