---
layout: sakurity
---


    <div class="page-content">
      <div class="wrapper">

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
{{ content }}

<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://sakurity.com{{ page.url | prepend: site.baseurl }}" data-text="{{ page.title }}" data-via="sakuritynetwork" data-related="sakuritynetwork">Share on Twitter</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script></p>

<h3>{{ page.date | date: "%b %-d, %Y" }} • {% if page.author %}{{ page.author }}{% endif %}</h3>


<h3 class="rss-subscribe">Subscribe to our blog via <a href="https://twitter.com/SakurityNetwork">Twitter @SakurityNetwork</a>, <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> or <a href="https://feedrabbit.com/subscriptions/new?url=https://sakurity.com/blog/feed.xml">Email</a></h3>
  </article>






<div id="spot-im-frame-inpage" data-post-id=""></div>


</div></div>



<div class="content">

<!--<section class="inverse contact-us">

    <div class="row">
        <div class="small-12 small-text-center columns">
            <h2>Trusted by</h2>
        </div>
    </div>

    <div class="row">
        <div class="small-6 medium-4 large-2 small-text-center columns clients">
          <a href="https://www.coinbase.com/">
            <div class="client client-coinbase"></div>
          </a>
        </div>

        <div class="small-6 medium-4 large-2 small-text-center columns clients">
          <a href="https://www.airbnb.com/">
            <div class="client client-airbnb"></div>
          </a>
        </div>

        <div class="small-6 medium-4 large-2 small-text-center columns clients">
          <a href="https://stripe.com/">
                <div class="client client-stripe"></div>
            </a>
        </div>

        <div class="small-6 medium-4 large-2 small-text-center columns clients">
          <a href="https://www.uber.com/">
            <div class="client client-uber"></div>
          </a>
        </div>

        <div class="small-6 medium-4 large-2 small-text-center columns clients">
          <a href="https://mixpanel.com/">
            <div class="client client-mixpanel"></div>
          </a>
        </div>

        <div class="small-6 medium-4 large-2 small-text-center columns clients">
          <a href="https://wordpress.com/">
            <div class="client client-wordpress"></div>
          </a>
        </div>
    </div>


    <div class="section-pattern">    
        <div class="row">
            <div class="small-10 small-centered small-text-center columns">

                <p>Reach out to us if you want to see how our security audits can
                    help your business,<br> or if you have any questions.</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns small-text-center">
                <a href="/contact" class="button large pull success">Contact</a>
            </div>
        </div>
    </div>
</section>-->

</div>
