
<!doctype html>
<html class="no-js" xmlns="https://www.w3.org/1999/xhtml"
      xmlns:fb="https://ogp.me/ns/fb#">
<head>
<base href="https://sakurity.com" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="We do penetration testing, source code auditing and vulnerability assessments">
    <meta name="keywords"
          content="Billing Security, Ruby on Rails Security, OAuth Security, Bitcoin Security, Framework Vulnerabilities">


    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/styles/vendor.css"/>
    <link rel="stylesheet" href="/styles/main.css"/>
<meta property="og:image" content="https://www.sakurity.com/images/sakurity-logo@2x.png" />


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />






</head>

<body>


<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="top-bar row" data-topbar>
    <section class="top-bar-section">

        <ul class="left">
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="https://twitter.com/SakurityNetwork">@SakurityNetwork</a></li>
        </ul>

    </section>
</nav>
{{ content }}


<footer>
    <div class="row">
        <div class="small-6 medium-3 large-2 columns">
            <h4>Sakurity</h4>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="https://twitter.com/SakurityNetwork">@SakurityNetwork</a></li>
            </ul>
        </div>



        <div class="small-12 medium-6 large-8 small-text-center medium-text-right columns">
            <div class="logo-monochrome"></div>
            <p class="copyright">Sakurity Ltd, a Hong Kong company established in 2012.<br><a href="mailto:info@sakurity.com">info@sakurity.com</a></p>
        </div>
    </div>
</footer>
</body>
</html>
